@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.navbar{
    height: 80px;
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar img{
    width: 100px;
    height: 80px;
    border-radius: 50%;
    z-index: -1;
}

.navbar .menu-links{
    display: flex;
    list-style: none;
}

.navbar .menu-links li{
    margin: 0 15px;
}

.navbar .menu-links li a{
    color: white;
    text-decoration: none;
}

.menu-icon{
    display: none !important;
}

.bg{
    background-color: white;
    transition: .3s ease;
}

.bg .menu-links li a{
    color: black !important;
}

.sidebar{
    display: none;
    transform: translate(-100%);
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1.5s ease;
    z-index: 1000;
}

.close-icon{
    color: black ;
    font-size: 50px;
    font-weight: 800;

}

.sidebar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.open{
    display: block;
    transform: translate(0);
}

.sidebar-links{
    text-align: center;
}

.sidebar-links li{
    margin: 40px;
}

.sidebar-links li a{
    font-size: 25px;
    color: black;
}

@media (max-width:700px) {
    .navbar{
        padding: 10px;
    }
    .menu-links{
        display: none !important;
    }

    .menu-icon{
        display: inline-block !important;
        font-size: 50px;
        color: black;
    }




}