.hero{
    height: 100vh;
    width: 100%;
}

.slide{
    width: 100% !important;
    height: 100vh !important;
}

.slide-content{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.slide-content h1{
    color: white;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slide-content p{
    color: white;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slide-content img{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -1;
  mask-image: linear-gradient(to right,black, white 50%);
}

.swiper-button-next {
    color: #ff5722 !important;
  }
  
.swiper-button-prev {
    color: #ff5722 !important; 
}

.swiper-pagination-bullet {
    background-color: #cccccc !important;
    display: none !important; 
  }

.swiper-pagination-bullet-active {
    background-color: #ff5722 !important;
  }

.slide-content div{
  width: 40%;
}


.button-container{
  display: flex;
}